/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(90deg,palegoldenrod,salmon);
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.gamecontainer {
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.startbutton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4c68af;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin: .8em;
}

.startbutton:hover {
    background-color: #45a049;
}